img {
    display: block;
    max-width: 100%;
    height: auto;
    filter: blur(0.3em);
}

.row{
    margin-bottom: 2em;
}

.found {
    background-color: #007ac8;
    box-shadow: 0px 0px 5px 1px var(--wwu-light-blue);
    cursor: pointer;
}

.found img {
    filter: none;
}